{% extends "layout.html" %}
{% block content %}
    <div style="background-image: url('static/images/court.jpg');">
    <h1 style="color:#FFFF;"> A Quickstart Guide:</h1>
    <p style="color:#FFFF;"> BasketballMeetup.com makes finding pick-up basketball games easy! With our FREE, simple website you'll find yourself tearing it up on the court in no time! To find or create pick-up games:   </p>
    <ol style="color:#FFFF;">
<li>Make an account by clicking on the "Register" button in the top right  </li>
<li>Create an account using a unique username, email, and password</li>
<li>Edit your account by clicking on "Account" and customize your profile Picture</li>
<li>Click on "Create Game" and specify the location, time, and capacity (e.g. 5v5)</li>
<li> Click on the post to either update (odd number of people and need 1 more) or delete (you just realized you have a test tomorrow)</li>
<li>↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓</li>
	</ol>
</div>
<img src="static/images/basket.gif" >


{% endblock content %}